:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --header-background-color: #2f303a;
  --main-background-color: #f5f4fa;

  --animation-duration: 250ms;
  --animation-type: cubic-bezier(0.4, 0, 0.2, 1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* index.html */

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

.list {
  list-style: none;
}

/* Body */

.body {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;

  font-size: 14px;

  font-family: Roboto;
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
  line-height: 1.7;

  background-color: var(--white-color);
}

/* Hero */

.hero {
  padding-top: 200px;
  padding-bottom: 200px;

  text-align: center;

  background-color: #c4c4c4;
  background-image: linear-gradient(
      to bottom,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/background.jpg);
  background-position: center;
}

.hero_title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  width: 696px;

  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero_button {
  margin-left: auto;
  margin-right: auto;

  width: 200px;
  height: 50px;

  color: var(--white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 2;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  cursor: pointer;
  background-color: var(--accent-color);
  border-radius: 4px;
  border: var(--accent-color);
  transition-property: background-color, color;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--animation-type);
}
.hero_button:focus,
.hero_button:hover {
  color: var(--accent-color);
  background-color: var(--white-color);
}

/* Advantages */

.advantage {
  display: flex;
}

.advantage_item:not(:last-child) {
  margin-right: 30px;
}
.advantage_item {
  width: 270px;
}

.icon_container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 270px;
  height: 120px;
  margin-bottom: 30px;

  background-color: var(--main-background-color);
  border-radius: 4px;
}

.advantage_icon {
  width: 70px;
  height: 70px;
}

.advantage_title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

/* Features */

.features {
  padding-top: 0;
}
.feature {
  display: flex;
}
.feature_item:not(:last-child) {
  margin-right: 30px;
}
.feature_link {
  position: relative;
}
.feature_text {
  color: var(--white-color);
  font-weight: 700;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  height: 70px;
  line-height: 16.41px;
  text-align: center;
  padding-top: 27px;
  padding-bottom: 27px;
  position: absolute;
  bottom: 3px;
  left: 0;
  right: 0;
}

/* Team */

.team {
  background: var(--main-background-color);
}

.member {
  display: flex;
}
.member_item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.member_item:not(:last-child) {
  margin-right: 30px;
}

.agent {
  margin-top: -7px;
  padding-top: 30px;
  padding-bottom: 30px;

  text-align: center;

  background-color: var(--white-color);
}

.agent_name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 10px;
}

.agent_job {
  margin-bottom: 16px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.networks_item:not(:last-child) {
  margin-right: 10px;
}

.networks_item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.networks_link {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;

  color: #afb1b8;

  border-radius: 50%;
  transition-property: color;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--animation-type);
}

.networks_link:hover,
.networks_link:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}

.networks_icon {
  width: 20px;
  height: 20px;

  fill: currentColor;

  transition-property: fill;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--animation-type);
}

/* Our Clients */

.clients {
  text-align: center;
  align-items: center;
}

.client {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.client_item:not(:last-child) {
  margin-right: 30px;
}

.client_link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 90px;

  color: #afb1b8;

  border: 1px solid;
  border-color: #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  transition-property: color, border-color;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--animation-type);
}

.client_link:focus,
.client_link:hover {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.client-icon {
  fill: currentColor;
}

/* Стили для portfolio.html */

.buttons {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.buttons_item:not(:last-child) {
  margin-right: 8px;
}

.portfolio_button {
  padding: 6px 22px;

  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--title-text-color);

  background-color: var(--main-background-color);
  border: var(--main-background-color);
  border-radius: 4px;
  cursor: pointer;
  transition-property: background-color, color;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--animation-type);
}

.portfolio_button:hover,
.portfolio_button:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
  border: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.portfolio_item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;

  border: 1px solid #ececec;
}

.portfolio_item:nth-child(3n) {
  margin-right: 0;
}

.portfolio_item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio_link {
  display: block;
}

.portfolio_link:hover,
.portfolio_link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio_img {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(100%);

  width: 100%;
  height: 100%;

  background-color: rgba(33, 150, 243, 0.9);
  transition: transform var(--animation-duration) var(--animation-type);
}

.overlay_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 322px;
  height: 168px;

  color: var(--white-color);
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
}

.portfolio_link:hover .overlay,
.portfolio_link:focus .overlay {
  transform: translateY(0);
}

.card {
  padding: 20px 24px;

  font-weight: 400;
  font-size: 16px;
  line-height: 2;
}

.card_title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.card_text {
  color: var(--primary-text-color);
}

/* Common */

.logo {
  color: var(--title-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.logostart {
  color: var(--accent-color);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.title {
  margin-bottom: 50px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* Header */

.header {
  border-bottom: 1px solid #ececec;
}
.header_container {
  display: flex;
  align-items: center;
}
.header_logo {
  margin-right: 93px;
}

/* Site_nav */

.nav {
  display: flex;
}

.nav_item:not(:last-child) {
  margin-right: 50px;
}

.nav_link {
  position: relative;

  padding: 32px 0;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  text-decoration: none;
  transition-property: color;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--animation-type);
}

.nav_link:hover,
.nav_link:focus,
.mail:hover,
.mail:focus,
.phone:hover,
.phone:focus {
  color: var(--accent-color);
}

.nav_link--current::after {
  content: '';

  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;

  width: 100%;
  height: 4px;

  border-radius: 2px;
  background-color: var(--accent-color);
}

.mail,
.phone {
  display: inline-flex;
  align-items: center;
  padding: 32px 0;

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  text-decoration: none;
  transition-property: color;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--animation-type);
}

.mail {
  margin-left: auto;
  margin-right: 50px;
}

.mail_icon,
.phone_icon {
  margin-right: 10px;

  fill: currentColor;

  transition-property: fill;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--animation-type);
}
.mail_icon:hover,
.mail_icon:focus,
.phone_icon:hover,
.phone_icon:focus {
  fill: currentColor;
}

/* Footer */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--header-background-color);
}

.footer_container {
  display: flex;
}

.footer_contacts {
  margin-right: 70px;
}

.footer_logo {
  margin-bottom: 20px;
}

.logoending {
  color: var(--white-color);
}

.contacts_item:not(:last-child) {
  margin-bottom: 9px;
}

.address {
  font-style: normal;
  color: var(--white-color);
}

.contacts {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;

  transition-property: color;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--animation-type);
}

.contacts:hover,
.contacts:focus,
.nav_link--current {
  color: var(--accent-color);
}

.footer_join {
  padding-top: 12px;
  margin-right: 104px;
}

.footer_title,
.modal_title {
  margin-bottom: 20px;

  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

.footer_icons {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.footer_item:not(:last-child) {
  margin-right: 10px;
}
.footer_link {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;

  color: var(--white-color);

  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color, color;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--animation-type);
}

.footer_link:hover,
.footer_link:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}

.footer_icon {
  width: 20px;
  height: 20px;

  fill: currentColor;
  transition-property: fill;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--animation-type);
}

.footer_modal {
  margin-top: 10px;
}

.footer_email {
  padding-left: 16px;
  margin-right: 12px;

  width: 358px;
  height: 50px;

  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--header-background-color);
}

.footer_email::placeholder {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer_button {
  display: inline-flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  width: 200px;
  height: 50px;

  color: var(--white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.06em;

  cursor: pointer;
  background-color: var(--accent-color);
  border-radius: 4px;
  border: var(--accent-color);
  transition-property: background-color, color;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--animation-type);
}

.footer_button:focus,
.footer_button:hover {
  color: var(--accent-color);
  background-color: var(--white-color);
}

.subscribe {
  display: flex;
  margin-right: 10px;
}

.subscribe_icon {
  margin-top: auto;
  margin-bottom: auto;

  width: 24px;
  height: 24px;

  fill: currentColor;
}

.subscribe_icon:focus,
.subscribe_icon:hover {
  fill: currentColor;
}

/* Modal */

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity var(--animation-duration) var(--animation-type);
}

.backdrop--hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  min-height: 581px;
  padding: 40px 40px 40px 40px;

  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.modal_button {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;

  cursor: pointer;
  background-color: var(--white-color);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.close_icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 11px;
  height: 11px;

  fill: var(--title-text-color);

  transition-property: fill;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--animation-type);
}

.modal_button:hover .close_icon,
.modal_button:focus .close_icon {
  fill: var(--accent-color);
}

.form {
  width: 448px;
}

.form_header {
  margin-bottom: 12px;

  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.03em;
  color: #212121;
}

.form_item {
  margin-bottom: 10px;
}

.form_text {
  font-size: 12px;
  color: var(--primary-text-color);
}

.form_icon--position {
  position: relative;
}

.form_input {
  padding-left: 38px;

  width: 100%;
  height: 40px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form_input:focus,
.form_input:hover {
  outline: none;
  border: 1px solid var(--accent-color);
}

.modal_icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.form_input:focus + .modal_icon {
  fill: var(--accent-color);
}

.form_comment {
  margin-bottom: 20px;
}

.feedback {
  padding-top: 12px;
  padding-left: 16px;

  width: 100%;
  height: 120px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.feedback:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}

.feedback::placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox {
  position: relative;
  margin-bottom: 30px;

  font-size: 14px;
  line-height: 24px;
  color: var(--primary-text-color);
}

.checkbox_icon {
  position: absolute;
  left: 8px;
  top: 4px;

  cursor: pointer;
}

.old_checkbox:checked ~ .checkbox_icon,
.old_checkbox:checked ~ .check_icon {
  background-color: var(--accent-color);
  border-radius: 1.5px;
  fill: var(--accent-color);
}
.check_icon {
  position: absolute;
  left: 8.5px;
  top: 4px;

  cursor: pointer;
}

.checkbox_link {
  font-size: 14px;
  line-height: 24px;
  text-decoration-line: underline;
  color: var(--accent-color);
}

.checkbox_text {
  margin-left: 31px;
}

.button_send {
  display: block;
  margin-left: auto;
  margin-right: auto;

  color: var(--white-color);

  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;

  cursor: pointer;
  border-radius: 4px;
  border: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--accent-color);
}
